/* inside-styles */

    .inside-page{

        .second-block{
            .mbox{
                .text-conteiner{
                    p{text-align: left;text-indent: 25px;}
                }
            }
        }

        .third-block{
            .mbox{padding-top: 0;
                .cells{
                    .some-text{
                        p{line-height:1.25;}
                    }
                    .row{
                        .cell{
                            &:nth-child(2), &:nth-child(3){padding:45px 20px 45px 25px;}
                        }
                    }
                }
            }
        }

        .fourth-block{
            .mbox{
                .advantages{padding-left: 0;
                    .advantage{width:calc(100% / 4);padding-right: 30px;
                        .advantage-text{
                            p{line-height: 1.35;}
                        }
                    }
                }
            }
        }

        .fifth-block{
            .mbox{
                .statistic-container{justify-content: center;
                    .statistic-heading{
                        h3{text-transform: uppercase;}
                    }
                }
            }
        }

    }

/* /inside-styles */

/* representation-in-court */

    .representation-in-court{
        .first-block{background-image:url(../images/first-block-background-representation-in-court.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /representation-in-court */

/* real-estate-transaction */

    .real-estate-transaction{
        .first-block{background-image:url(../images/first-block-background-real-estate-transaction.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /real-estate-transaction */

/* migration-questions */

    .migration-questions{
        .first-block{background-image: url(../images/first-block-background-migration-questions.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /migration-questions */

/* consumer-rights-protection */

    .consumer-rights-protection{
        .first-block{background-image: url(../images/first-block-background-consumer-rights-protection.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /consumer-right-protection */

/* housing-lawyer */

    .housing-lawyer{
        .first-block{background-image: url(../images/first-block-background-housing-lawyer.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /housing-lawyer */

/* divorce-suit */

    .divorce-suit{
        .first-block{background-image: url(../images/first-block-background-divorce-suit.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /divorce-suit */

/* anticollector */

    .anticollector{
        .first-block{background-image: url(../images/first-block-background-anticollector.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /anticollector */

/* protection-of-the-rights-holders */

    .protection-of-the-rights-holders{
        .first-block{background-image: url(../images/first-block-background-protection-of-the-rights-holders.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);

        }
    }

/* /protection-of-the-rights-holders */

/* avtoyurist */

    .avtoyurist{
        .first-block{background-image:url(../images/first-block-background-avtoyrist.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /avtoyurist */

/*  rf228 */

    .rf228{
        .first-block{background-image:url(../images/first-block-background-228.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* / rf228 */

/* labour-disputes */

    .labor-disputes{
        .first-block{background-image:url(../images/first-block-background-labor-disputes.jpg);}
        .fourth-block{background-image:url(../images/fourth-block-bakcground-another.jpg);}
    }

/* /labour-disputes */

/* diferend */

    .first-block{line-height: 1.5;padding:30px 0 30px 0;
        &.diferend{
            .mbox{
                .heading{width:auto;}
                .main-container{
                    .column{width: 33.33%;position: relative;
                        &:after{content:'';display: block;position:absolute;width:1px;height:25px;left:auto;right:0;bottom:auto;top:18px;background-color: #fff;}
                        &:last-child{
                            &:after{display: none;}
                        }
                        .upper-part, .lower-part{width: 320px;margin:0 auto;}
                        .upper-part{
                            &:after{display: none;}
                        }
                        .lower-part{display: none;}
                    }
                }
            }
        }
    }

    .fifth-block{
        &.diferend{
            .mbox{
                .statistic-container{
                    .statistic-item{width: calc(100% / 2 - 100px);
                        &>div{max-width: 200px;width: 100%;margin:0 auto;}
                    }
                }
            }
        }
    }

/* /diferend */

/* no-table */

    .third-block{
        .mbox{
            .cells{
                &.no-table{display: block;border-top:1px solid #dadada;
                    .row{display: flex;justify-content: center;align-items: center;
                        .cell, .cell:nth-child(1){display: block;max-width: 730px;width:100%;border-right:none;border-bottom:none;}
                    }
                }
            }
        }
    }

/* /no-table */