/* representation-in-court, real-estate-transaction */

    .representation-in-court, .real-estate-transaction{

        .second-block{
            .mbox{
                .text-conteiner{
                    p{text-align: left;text-indent: 25px;}
                }
            }
        }

        .third-block{
            .mbox{padding-top: 0;
                .cells{
                    .some-text{
                        p{line-height:1.25;}
                    }
                }
            }
        }

        .fourth-block{
            .mbox{
                .advantages{padding-left: 0;
                    .advantage{width:calc(100% / 4);padding-right: 30px;
                        .advantage-text{
                            p{line-height: 1.35;}
                        }
                    }
                }
            }
        }

        .fifth-block{
            .mbox{
                .statistic-container{
                    .statistic-heading{
                        h3{text-transform: uppercase;}
                    }
                }
            }
        }

    }

/* /representation-in-court, real-estate-transaction */

/* representation-in-court */

    .representation-in-court{
        .first-block{background-image:url(../images/first-block-background-representation-in-court.jpg);}
    }

/* /representation-in-court */

/* diferend */

    .first-block{
        &.diferend{
            .mbox{
                .main-container{
                    .column{width: 33.33%;position: relative;
                        &:after{content:'';display: block;position:absolute;width:1px;height:25px;left:auto;right:0;bottom:auto;top:18px;background-color: #fff;}
                        &:last-child{
                            &:after{display: none;}
                        }
                        .upper-part, .lower-part{width: 320px;margin:0 auto;}
                        .upper-part{
                            &:after{display: none;}
                        }
                        .lower-part{display: none;}
                    }
                }
            }
        }
    }

/* /diferend */