<section class="fifth-block">
	<div class="mbox">
		<div class="statistic-container">
			<div class="statistic-heading">
				<h3>За время работы</h3>
			</div>
			<div class="statistic-item">
				<div class="top-part">
					<p>Выиграли</p>
				</div>
				<div class="percentage">
					<p>87%</p>
				</div>
				<div class="botom-part">
					<p>всех начатых дел</p>
				</div>
			</div>
			<div class="statistic-item">
				<div class="top-part">
					<p>Благополучно
					решили более</p>
				</div>
				<div class="percentage">
					<p>100</p>
				</div>
				<div class="botom-part">
					<p>вопросов на месте происшествия</p>
				</div>
			</div>
			<div class="statistic-item">
				<div class="top-part">
					<p>Совершили более</p>
				</div>
				<div class="percentage">
					<p>320</p>
				</div>
				<div class="botom-part">
					<p>выездов с клиентами
					по различным вопросам</p>
				</div>
			</div>
			<div class="statistic-item">
				<div class="top-part">
					<p>Достигли</p>
				</div>
				<div class="percentage">
					<p>67</p>
				</div>
				<div class="botom-part">
					<p>мировых  соглашений</p>
				</div>
			</div>
			<div class="statistic-item">
				<div class="top-part">
					<p>Прекратили</p>
				</div>
				<div class="percentage">
					<p>8</p>
				</div>
				<div class="botom-part">
					<p>дел еще на стадии следствия</p>
				</div>
			</div>
		</div>

		<div class="form-container">
            <form action="ajax.php" name="" class="contact-form">
                <div class="contact-form-title">
                    <h5>Оставьте заявку на консультацию</h5>
                    <span>Будьте уверены – мы решим вашу проблему.</span>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <span>имя</span><br>
                                <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <span>телефон</span><br>
                                <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item button-wrapper">
                        <button type="submit" class="contact-submit">
                            <span>Получить консультацию</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

	</div>
</section>