<section class="first-block">
	<div class="mbox">
		<div class="heading">
			<h3>Юридическая помощь <br>
			и консалтинговые услуги</h3>
		</div>
		<div class="lower-part-of-heading">
			<h5>Защитим в суде. Восстановим справедливость. Разрешим ситуацию в вашу пользу</h5>
		</div>
		<div class="main-container">
			<div class="column">
				<div class="upper-part">
					<p>Работаем с физическими
					и юридическими лицами</p>
				</div>
				<div class="lower-part">
					<p>Берем дела, от которых 
					отказались другие юристы</p>
				</div>
			</div>
			<div class="column">
				<div class="upper-part">
					<p>При необходимости – привлекаем
					общественность и СМИ</p>
				</div>
				<div class="lower-part">
					<p>Круглосуточный выезд к клиенту </p>
				</div>
			</div>
			<div class="column">
				<div class="upper-part">
					<p>Оперативная подготовка 
					документов </p>
				</div>
				<div class="lower-part">
					<p>Полная конфиденциальность</p>
				</div>
			</div>
		</div>	
		<div class="red-button">
			<button>
				<span>Получить консуьльтацию</span>
			</button>
		</div>
	</div>
</section>