<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox">
		<div class="slogan">
			<p>Остались вопросы?
			Поможем, расскажем, решим</p>
		</div>
		<div class="links">
			<div class="left">
				<a href="">8 (495) 970-90-28  </a>
			</div>
			<div class="right">
				<a href="">info@mospravo.net</a>
			</div>
		</div>
		<div class="socials">
			<div class="vkontakte">
				<a href="">
					<img src="images/vkontakte.png">
				</a>
			</div>
			<div class="facebook">
				<a href="">
					<img src="images/facebook.png">
				</a>
			</div>
			<div class="instagram">
				<a href="">
					<img src="images/instagram.png">
				</a>
			</div>
			<div class="twitter">
				<a href="">
					<img src="images/twitter.png">
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
