<section class="fourth-block">
	<div class="mbox">
		<div class="advantages">
			<div class="advantage">
				<div class="advantage-image">
					<img src="images/clock.png">
				</div>
				<div class="advantage-heading">
					<h3>Срочная подготовка документов</h3>
				</div>
				<div class="advantage-text">
					<p>Грамотно и вовремя составленные документы – залог успешного разрешения дела. Мы зафиксируем жалобы и претензии, соберем доказательства и подготовим полный пакет документов за 2-дня.</p>
				</div>
			</div>
			<div class="advantage">
				<div class="advantage-image">
					<img src="images/backward-sircle.png">
				</div>
				<div class="advantage-heading">
					<h3>Круглосуточный выезд к клиенту</h3>
				</div>
				<div class="advantage-text">
					<p>Не знаете, как вести себя в данной ситуации? Чувствуете, что на вас «давят»? Требуется срочная консультация юриста или помощь адвоката? Приедем и поможем. Будем на месте происшествия уже через 1,5 часа после звонка.</p>
				</div>
			</div>
			<div class="advantage">
				<div class="advantage-image">
					<img src="images/phone-in-sircle.png">
				</div>
				<div class="advantage-heading">
					<h3>Бесплатные консультации</h3>
				</div>
				<div class="advantage-text">
					<p>Мы не берем денег за разговоры. 
						Вы платите только за конкретные действия. Спрашивайте, уточняйте, интересуйтесь – в любое время	и всегда бесплатно. Мы проанализируем информацию и дадим честный прогноз на дальнейшее развитие ситуации. </p>
				</div>
			</div>
			<div class="advantage">
				<div class="advantage-image">
					<img src="images/power-of-atorney.png">
				</div>
				<div class="advantage-heading">
					<h3>Работа по доверенности</h3>
				</div>
				<div class="advantage-text">
					<p>Нет времени ходить по судам? 
					Нет желания общаться с обидчиком? 
					И не надо. Переговоры, сбор документов, защита
					и представительство в суде – всю эту работу мы возьмем на себя. Ваше присутствие не обязательно.</p>
				</div>
			</div>
			<div class="advantage">
				<div class="advantage-image">
					<img src="images/wallet.png">
				</div>
				<div class="advantage-heading">
					<h3>Компенсация расходов</h3>
				</div>
				<div class="advantage-text">
					<p>В некоторых ситуациях, мы можем добиться полной компенсации расходов на юриста. 
					Это значит, что в случае победы вам 
					не придется оплачивать наши услуги. За них заплатит ответчик.</p>
				</div>
			</div>
			<div class="advantage">
				<div class="advantage-image">
					<img src="images/dialog-clouds.png">
				</div>
				<div class="advantage-heading">
					<h3>Работа с общественностью и СМИ</h3>
				</div>
				<div class="advantage-text">
					<p>Иногда для решения проблемы следует привлечь внимание СМИ, вызвать общественный резонанс. 
					Мы возьмем эту работу на себя. Заручимся поддержкой авторитетных журналистов и восстановим нарушенную справедливость. 
					</p>
				</div>
			</div>
		</div>
		<div class="red-button">
			<button>
				<span>Получить консуьльтацию</span>
			</button>
		</div>
	</div>
</section>