<!-- HEADER -->
<header class="top-header">
	<div class="mbox">
		<div class="main-header">
			<h2>Московский правовой центр</h2>
		</div>
		<ul class="navigation">
			<li><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Услуги</span></a></li>
			<li><a href="#"><span>Преимущества</span></a></li>
			<li><a href="#"><span>Статистика дел</span></a></li>
			<li><a href="#"><span>Бизнесу</span></a></li>
			<li><a href="#"><span>Вопрос юристам</span></a></li>
			<li><a href="#"><span>Статьи</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
		<div class="back-call">
			<a href="" class="telephone">		
				<span>8 (495) 970-90-28</span>
				Заказать обратний звонок
			</a>
		</div>
	</div>
	
</header>
<!-- /HEADER -->

