<section class="second-block">
	<div class="mbox">
		<div class="text-conteiner">
			<p>
				Московский Правовой Центр работает с 2015 года. Среди наших сотрудников – 
				опытные юристы, адвокаты, бывшие сотрудники полиции, прокуратуры и МВД. 
				Мы знаем, как общаться с представителями государственных органов. Понимаем все тонкости, знаем лазейки. И если беремся за дело, то гарантируем результат. 
				Работаем в России и СНГ. Решаем даже самые сложные, нестандартные задачи.Принимаем дела, от которых отказались другие юристы. Только за один год 
				мы достигли 67 мировых  соглашений, прекратили 8 дел на стадии следствия
				и совершили 320 выездов к клиенту, разрешив ситуацию прямо на месте. 
			</p>
		</div>
	</div>
</section>