<section class='six-block'>
	<div class="mbox">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1121.851231476995!2d37.69600177208139!3d55.78103926493782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53570f07267b3%3A0x42b8b86bda863a2e!2z0JHQvtC70YzRiNCw0Y8g0J_QvtGH0YLQvtCy0LDRjyDRg9C7LiwgMzbRgTEsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMDUwODI!5e0!3m2!1sru!2sua!4v1468360048091" width="700" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
		<div class="adress">
			<div class="heading">
				<h3>наш адрес</h3>
			</div>
			<div class="main">
				<p>Москва, 
				м. Электрозаводская, 
				ул. Большая Почтовая 36, стр. 1</p>
			</div>
		</div>
	</div>
</section>