<section class="third-block">
	<div class="mbox">
		<div class="heading">
			<h3>услуги</h3>
		</div>
		<div class="cells">
			<div class="row">
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/lock.png">
					</div>
					<div class="some-text">
						<p>Адвокат по 228 статье</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/judge-hammer.png">
					</div>
					<div class="some-text">
						<p>Трудовые споры</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/hous-on-paper.png">
					</div>
					<div class="some-text">
						<p>Сделки с землей
						и недвижимостью</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/women-in-shop.png">
					</div>
					<div class="some-text">
						<p>Защита прав
						потребителей</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/questionary.png">
					</div>
					<div class="some-text">
						<p>Миграционные вопросы</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/men-near-hous.png">
					</div>
					<div class="some-text">
						<p>Представительство
						в суде</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/three-buldings.png">
					</div>
					<div class="some-text">
						<p>Защита прав
						дольщиков</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/man-thinking-of-hous.png">
					</div>
					<div class="some-text">
						<p>Жилищный юрист</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/the-car.png">
					</div>
					<div class="some-text">
						<p>Автоюрист</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/anti-collector.png">
					</div>
					<div class="some-text">
						<p>Антиколлектор</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
				<div class="cell">
					<div class="image-wrapper">
						<img src="images/half-of-lowe.png">
					</div>
					<div class="some-text">
						<p>Бракоразводный юрист</p>
					</div>
					<div class="transparent-button">
						<a href="#">
							<span>подробнее</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>